<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>App</title>
</head>
<body>
<p>
    Hello! {{ user.name}}
</p>

<p>
    Your phone is {{ user.phone }}
</p>

<p>
    Your age is {{ user.age }}
</p>
</body>
</html>
