<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>App</title>
</head>
<body>
{{#each users}}
    <p>
        Hello! {{ this.name }}
    </p>

    <p>
        Your phone is {{ this.phone }}
    </p>

    <p>
        Your age is {{ this.age }}
    </p>
{{/each}}


</body>
</html>
